.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: #eee;
    display: flex;
}

form {
    width: 500px;
}

article {
    width: calc(100% - 540px);
    padding: 20px;
}

form fieldset {
    border: 0;
    border-bottom: 2px solid #ccc;
}

form fieldset:last-child {
    border-bottom: 0;
}

form fieldset input,
form fieldset select,
form fieldset textarea {
    display: block;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
}

form fieldset select,
form fieldset input[type="file"] {
    padding: 0;
}

form fieldset input[type="checkbox"],
form fieldset input[type="radio"] {
    display: inline-block;
    width: auto;
}

form fieldset label {
    display: block;
    margin: 0 0 4px 0;
}

form fieldset button {
    width: 100%;
    padding: 8px 16px;
}